html {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: url(groceries-img.jpg);
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 32rem;
  width: 18rem;
  background-color: #8bc34a4f;
  border: 2px solid #2d7927;
  border-radius: 4px;
}

h1 {
  text-align: center;
  color: #0b710f;
  margin-top: 0rem;
}

.input_box {
  display: flex;
}

.input {
  flex: 1;
  border: 2px solid #2d7927;
  border-radius: 4px;
}

.btn {
  margin-left: 1rem;
  appearance: none;
  background-color: #0cb93c;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.items_box {
  margin-top: 1.2rem;
  overflow-y: auto;
  max-height: 22rem;
  flex: 1;
}

.item {
  display: flex;
  justify-content: space-between;
  height: 1rem;
  margin-top: 0.5rem;
  margin-right: 3px;
  border-color: black;
  align-items: center;
  padding: 0.5rem;
  background-color: white;
  border: 2px solid #2b7126;
  border-radius: 4px;
}

.close_icon {
  display: none;
}

.item:hover .close_icon {
  display: block;
  cursor: pointer;
}

/* scrollbar */

.items_box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(109, 161, 89, 0.3);
  border-radius: 10px;
  background-color: #ffffff;
}

.items_box::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.items_box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(109, 161, 89, 0.3);
  background-color: rgb(92, 129, 76);
}
/* scrollbar: end */

.btn_del {
  margin-top: 0.8rem;
  appearance: none;
  background-color: #0cb93c;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgb(27 31 35 / 10%) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.author {
  margin-top: 1rem;
  width: 20rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  color: #000000;
  font-size: 1.5rem;
}
